{% load static %}
{% load authorization_tags %}

<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset='utf-8'>
        <title>66</title>
        <link type="text/css" href="{% static 'authorization/css/styles.css' %}" rel='stylesheet'/>
    </head>

    <body>

        <hr/>

        {% block mainmenu %}

        {% for i in list%}

        <button> <a href = "{% url i.url_name %}">{{i.title}}</a></button> <br/>

        {% endfor %}

        {% endblock mainmenu %}

        <hr/>

        {% block content %}
        {% endblock content %}

        <hr/>

        <h1>ЭТО INDEX.NTML держу в курсе</h1>

        <hr/>

        <hr/>

        {% getcats as categories%}

        <ul>
            {% for i in categories%}
            
            <li>{{i}}</li>

            {% endfor %}
            
        </ul>

        <hr/>
    </body>
    
</html>