{% extends 'index.html' %}

{% block content %}


<h1>{{title}}</h1>

<h2>ЭТО СОДЕРЖИМОЕ {{title}} №{{cat_id}}</h2>


<ul>

    {% for i in post%}

    <li>
        {% autoescape off %} 
            <!--Для того чтобы отключить экранирование тегов-->
            <hr/> <!--{% url 'registrationID' i.pk %}-->
            <h3><a href="{{ i.get_absolute_url }}">{{i.login}}</a></h3> <!--Элемент записи БД стоит отображать через спец функцию-->
            <h4>{{i.password}}</h4>
            <h5>{{i.date_creation|truncatewords:1}}</h5>
            <h5>{{i.is_delete}}</h5>
            <h5>{{i.cat}}</h5>
            <hr/>
        {% endautoescape %}
    </li>

    {% endfor %}


</ul>





{% endblock content %}
  